// /* ==========================================================================
//    DEFAULT THEME
//    ========================================================================== */

// /* Color codes used for the theme */
// $gray : #7a8288;
// $dark-gray : mix(#000, $gray, 40%);
// $darker-gray : mix(#000, $gray, 60%);
// $light-gray : mix(#fff, $gray, 50%);
// $lighter-gray : mix(#fff, $gray, 90%);

// /* Color codes used for the site */
// $danger-color : #ee5f5b;
// $info-color : #2f7f93;
// $notice-color : #7a8288;
// $success-color : #62c462;
// $warning-color : #f89406;

// /* Other basic settings for the template */
// $border-radius : 4px;
// $box-shadow : 0 1px 1px rgba(0, 0, 0, 0.125);
// $global-transition : all 0.2s ease-in-out;
// $masthead-height : 70px;
// $navicon-width : 28px;
// $navicon-height : 4px;
// $sidebar-link-max-width : 250px;
// $sidebar-screen-min-width : 1024px;

// /* Default light theme for the site */
// :root {
//     --global-base-color : #{$gray};
//     --global-bg-color: #fff;
//     --global-footer-bg-color: #f2f3f3;
//     --global-border-color : #{$lighter-gray};
//     --global-dark-border-color: #bdc1c4;
//     --global-code-background-color: #fafafa;
//     --global-code-text-color : #{$darker-gray};
//     --global-fig-caption-color : mix(#fff, #{$dark-gray}, 25%);
//     --global-link-color: #52adc8;
//     --global-link-color-hover: mix(#000, #2f7f93, 25%);
//     --global-link-color-visited: mix(#fff, #2f7f93, 25%);
//     --global-masthead-link-color : #{$dark-gray};
//     --global-masthead-link-color-hover : mix(#000, #{$gray}, 25%);
//     --global-text-color : #{$dark-gray};
//     --global-text-color-light : #{$light-gray};
//     --global-thead-color : #{$lighter-gray};
// }






/* ==========================================================================
   LIGHT ACADEMIC THEME
   ========================================================================== */

/* Color codes used for the theme */
$gray : #666666;
$dark-gray : mix(#000, $gray, 40%);
$darker-gray : mix(#000, $gray, 60%);
$light-gray : mix(#fff, $gray, 50%);
$lighter-gray : mix(#fff, $gray, 90%);


$text : #000000;
$link : #145c8b;
$link-dark : mix(#000, $link, 25%);
$link-light : mix(#fff, $link, 25%);

/* Color codes used for the site */
$danger-color : #d9534f;
$info-color : #5bc0de;
$notice-color : #666666;
$success-color : #5cb85c;
$warning-color : #f0ad4e;

/* Other basic settings for the template */
$border-radius : 4px;
$box-shadow : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition : all 0.2s ease-in-out;
$masthead-height : 70px;
$navicon-width : 28px;
$navicon-height : 4px;
$sidebar-link-max-width : 250px;
$sidebar-screen-min-width : 1024px;

/* Default light theme for the site */
:root {
    --global-base-color : #{$gray};
    --global-bg-color: #ffffff;
    --global-footer-bg-color: #f8f9fa;
    --global-border-color : #{$lighter-gray};
    --global-dark-border-color: #cccccc;
    --global-code-background-color: #f5f5f5;
    --global-code-text-color : #{$darker-gray};
    --global-fig-caption-color : mix(#fff, #{$dark-gray}, 25%);
    --global-link-color: #337ab7;
    --global-link-color-hover: mix(#000, #337ab7, 25%);
    --global-link-color-visited: mix(#fff, #337ab7, 25%);
    --global-masthead-link-color : #{$dark-gray};
    --global-masthead-link-color-hover : mix(#000, #{$gray}, 25%);
    --global-text-color : #{$dark-gray};
    --global-text-color-light : #{$light-gray};
    --global-thead-color : #{$lighter-gray};
}